/*Фильтр
--------------------------------------------------------------------*/
#comments-filters {
    padding: 5px;
    background-color: #f4f7f9;
    margin: 2px 0 10px 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #cfdee7;
    overflow: hidden;
    position: relative;
    text-align: left;
    margin: 0 0 5px 0;
}

#comments-filters .editor-field{
    display: block;
    float: left;
    padding: 3px 5px;
    position: relative;
    height: 30px;
    margin: 0;
}

#comments-filters .editor-field-title input {
    width: 340px;
    padding: 3px;
}
#comments-filters .editor-field-category select {
    width: 160px;
    padding: 3px;
}
#comments-filters .editor-field-active select {
    width: 120px;
    padding: 3px;
}

#comments-filters input[type=submit] {
    height: 24px;    
}


/*Новая организация
--------------------------------------------------------------------*/


/*Редактирование организации
--------------------------------------------------------------------*/
#comment-editor .editor-field input[type=text],
#comment-editor .editor-field select{
    padding: 5px;
    border: 1px solid #9ba6b3;
}

#comment-editor .editor-field{
    margin: 0 0 3px 0;
}

#comment-editor .editor-title, #comment-editor .editor-main,
 #comment-editor .editor-date {
    padding: 10px;
    background-color: #f4f7f9;
    margin: 2px 0 10px 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #cfdee7;
}

#comment-editor .editor-title input[type=text]{
    width: 930px;
}

#comment-editor .editor-main input[type=text]{
    width: 930px;
}

#comment-editor .editor-label {
    color: #76818f;
}

#comment-editor input[type=submit]{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}

#comment-editor #Title{
    font-size:1.2em;
}