@using Bankiru.Models.Domain.Users
@model List<VM_UserBalanceHistoryItem>
@*<div id="user-balance-history-block">
    <div class="stat-block">*@
        <h2>Архив пополнения баланса</h2>
        <div id="user-balance-history-block">
            @if (Model.Count > 0)
            {
                foreach (VM_UserBalanceHistoryItem item in Model)
                {
                    <p>
                        <span class="date">@item.ReportDate.ToString("dd.MM.yyyy HH:mm", System.Globalization.CultureInfo.CreateSpecificCulture("ru-RU"))</span>
                        <span class="sum">@item.Sum.ToString("N") руб. </span>
                        @if (!String.IsNullOrEmpty(item.Comment))
                        {
                            <span class="tariff"> (@item.Comment)</span>
                        }
                    </p>
                }
            }
            else
            {
                <p>Пользователь еще ни разу не пополнял баланс.</p>
            }
        </div>
    @*</div>
</div>*@
