table.comments {
    width: 980px;
    border: 2px solid #c8ceda;
    border-collapse: collapse;
    border-spacing: 0;
}
table.comments tr {
    background: #ffffff;
}
table.comments tr.evel {
    background: #f4f5f8;
}
table.comments td {
    border-right: 1px solid #c8ceda;
}
table.comments th {
    background: #3d3d3d;
    background: url(/Content/system/bg-dark-strips.gif) top left repeat;
    color: white;
    font-weight: normal;
}
table.comments td.tools, table.comments td.published, table.comments td.created-at, table.comments td.published-at,
table.comments td.confirmed, table.comments td.id, table.comments td.user{
    text-align: center;
}
table.comments th.tools {
    width: 6%;
    text-align: center;
}
table.comments th.confirmd {
    width: 3%;
    text-align: center;
}
table.comments th.published {
    width: 3%;
    text-align: center;
}
table.comments th.text {
    width: 40%;
}
table.comments th.article {
    width: 23%;
    text-align: center;
}
table.comments th.user {
    width: 11%;
    text-align: center;
}
table.comments th.created-at {
    text-align: center;
    width: 10%;
}
table.comments th.id {
    width: 4%;
    text-align: center;
}
table.comments td {
    border-bottom: 1px solid #c8ceda;
}
table.comments td {
    padding: 5px;
}
table.comments th {
    padding: 8px 4px;
}
table.comments td a{
    color: #5280c5;
    text-decoration: underline; 
}
table.comments td a:hover{
    color: #5f88be;
    text-decoration: none; 
}
table.comments td.tools img, 
table.comments td.published img, 
table.comments td.confirmed img {
    cursor: pointer;
}
.comments-list table.comments img.indicator {
    display: none;
}