/*Фильтр
--------------------------------------------------------------------*/
#debtor-filter {
    padding: 5px;
    background-color: #f4f7f9;
    margin: 2px 0 10px 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #cfdee7;
    overflow: hidden;
    position: relative;
    text-align: left;
    margin: 0 0 5px 0;
}

#debtor-filter .editor-field{
    display: block;
    float: left;
    padding: 3px 5px;
    position: relative;
    height: 30px;
    margin: 0;
}

#debtor-filter input[type=test] {
    padding: 3px;
}
#debtor-filter select {
    /*width: 120px;*/
    padding: 3px;
}
#debtor-filter input[type=submit] {
    height: 24px;  
}


/*Новый пользователь
--------------------------------------------------------------------*/


/*Редактирование пользователя
--------------------------------------------------------------------*/
#debtor-editor .editor-field input[type=text],
#debtor-editor .editor-field select{
    padding: 5px;
    border: 1px solid #9ba6b3;
}

#debtor-editor .editor-field{
    margin: 0 0 3px 0;
}

#debtor-editor .editor-field-alias span,
#debtor-editor .editor-field-icon span{
    font-weight: 600;
    color: navy;
}
#debtor-editor .editor-field select {
    width: 300px;
}
#debtor-editor .editor-field-region select {
    width: 410px;
}
#debtor-editor input[type=text]{
    width: 400px;
}

#debtor-editor .editor-field-saleprice input,
#debtor-editor .editor-field-debt-amount input{
    width: 140px;
}

#debtor-editor textarea{
    width: 940px;
}

#debtor-editor .editor-meta input[type=text]{
    width: 930px;
}

#debtor-editor .editor-label {
    color: #76818f;
}
#debtor-editor .field-validation-error{
    display: block;
    clear: both;
    font-size: 0.9em;
}
#debtor-editor input[type=submit]{
    /*padding: 10px 20px;
    cursor: pointer;
    background-color: green;
    color: white;    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid darkgreen;*/
}

#debtor-editor #Title{
    font-size:1.2em;
}




/*Информация о прогнозах
--------------------------------------------------------------------*/


/*Баланс
--------------------------------------------------------------------*/
/*#user-add-balance-block .editor-row {
    clear: both;
    overflow: hidden;
}
#user-add-balance-block .editor-column{
    float: left;
    margin-right: 5px; 
}*/
#user-add-balance-block .editor-field input[type=text],
#user-add-balance-block .editor-field select{
    padding: 5px;
    border: 1px solid #9ba6b3;
}
#user-add-balance-block #TariffId {
    width: 150px;
}
#user-add-balance-block #Sum {
    width: 100px;
}
#user-add-balance-block #Period {
    width: 200px;
}
#user-add-balance-block #Comment {
    width: 430px;
}
#spinning-balance-submit {
    display: none;
}

/*История баланса
--------------------------------------------------------------------*/
.user-balance-history-block {

}