/*Фильтр
--------------------------------------------------------------------*/
#debtors-filters {
    padding: 5px;
    background-color: #f4f7f9;
    margin: 2px 0 10px 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #cfdee7;
    overflow: hidden;
    position: relative;
    text-align: left;
    margin: 0 0 5px 0;
}

#debtors-filters .editor-field{
    display: block;
    float: left;
    padding: 3px 5px;
    position: relative;
    height: 30px;
    margin: 0;
}

#debtors-filters .editor-field-nic input,
#debtors-filters .editor-field-name input,
#debtors-filters .editor-field-email input {
    width: 200px;
    padding: 3px;
}
#debtors-filters .editor-field-active select {
    width: 120px;
    padding: 3px;
}
#debtors-filters input[type=submit] {
    height: 24px;    
}


/*Новый пользователь
--------------------------------------------------------------------*/


/*Редактирование пользователя
--------------------------------------------------------------------*/
#user-editor .editor-field input[type=text],
#user-editor .editor-field select{
    padding: 5px;
    border: 1px solid #9ba6b3;
}

#user-editor .editor-field{
    margin: 0 0 3px 0;
}

#user-editor .editor-field-alias span,
#user-editor .editor-field-icon span{
    font-weight: 600;
    color: navy;
}

#user-editor .editor-title input[type=text]{
    width: 930px;
}

#user-editor .editor-main input[type=text]{
    width: 930px;
}

#user-editor .editor-images input[type=text]{
    width: 500px;
}

#user-editor .editor-meta input[type=text]{
    width: 930px;
}

#user-editor .editor-label {
    color: #76818f;
}

#user-editor input[type=submit]{
    /*padding: 10px 20px;
    cursor: pointer;
    background-color: green;
    color: white;    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid darkgreen;*/
}

#user-editor #Title{
    font-size:1.2em;
}

/*Информация о прогнозах
--------------------------------------------------------------------*/


/*Баланс
--------------------------------------------------------------------*/
/*#user-add-balance-block .editor-row {
    clear: both;
    overflow: hidden;
}
#user-add-balance-block .editor-column{
    float: left;
    margin-right: 5px; 
}*/
#user-add-balance-block .editor-field input[type=text],
#user-add-balance-block .editor-field select{
    padding: 5px;
    border: 1px solid #9ba6b3;
}
#user-add-balance-block #TariffId {
    width: 150px;
}
#user-add-balance-block #Sum {
    width: 100px;
}
#user-add-balance-block #Period {
    width: 200px;
}
#user-add-balance-block #Comment {
    width: 430px;
}
#spinning-balance-submit {
    display: none;
}

/*История баланса
--------------------------------------------------------------------*/
.user-balance-history-block {

}