@model Bankiru.Models.Domain.Account.VM_User

<div id="login-block">
    <div id="logout"><a href="@Url.Action("Logout", "Account")" title="Выйти из личного кабинета"><img src="~/Content/lk/logout.png" title="Выйти из личного кабинета" alt="Выход" /></a></div>
    <div class="club-member">Участник клуба <span class="nic">@Model.Nic</span></div>
    <div class="lk">@Html.ActionLink("Личный кабинет", "Index", "Home", new { user_id = Model.Id }, new { title = "Личный кабинет" })</div>    
</div>
