body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #4c5a6b;
    background: url(/Content/system/bg-dark-strips.gif) top left repeat;
    margin: 0;
    padding: 0;
    width: 100%;
}

header, footer, nav, section {
    display: block;
}

div {
    margin: 0;
    padding: 0;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.error {
    background-color: #ffc7c7;
    border: dashed 1px maroon;
    color: black;
    padding: 5px 10px;
    margin: 0 0 5px 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Сообщения
-----------------------------------------------------------*/
#error-title {
    background-color: #ffc7c7;
    border: dashed 1px maroon;
    color: black;
    padding: 5px 10px;
    margin: 5px 5px 0 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#warning-title {
    background-color: #ffdcbb;
    border: dashed 1px #dc7505;
    color: black;
    padding: 5px 10px;
    margin: 5px 5px 0 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#info-title {
    background-color: #dcf8ff;
    border: dashed 1px navy;
    color: black;
    padding: 5px 10px;
    margin: 5px 5px 0 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Login
-----------------------------------------------------------*/
#login-block {
    width: 300px;
    margin: 10% auto;
    position: relative;    
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.50);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 3px solid #4091d8;
}

#login-block form {
    padding: 15px 10px 10px 10px;
}

#login-block {
    text-align: center;
}

.editor-label {
    margin: 0 0 5px 0;
}

.editor-field {
    margin: 0 0 10px 0;
}

#login-block .editor-label label {
    font-size: 1.0em;
    color: #3f5467;
}

#login-block .editor-field input {
    padding: 5px;
    width: 90%;
    border: 1px solid #71afe4;
    background-color: #f4f7f9;
    font-size: 1.3em;
}

#login-submit {
    width: 40%;
    height: 30px;
    cursor: pointer;
}

/* Wrapper
-----------------------------------------------------------*/
#wrapper {
    width: 1000px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    background-color: white;
    overflow: hidden;    
}

/* Header
-----------------------------------------------------------*/

header {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #353f4c;
    background: url(/Content/system/bg-dark-strips-2.gif) top left repeat;
}
header nav {
    position: relative;
    float: left;
    width: 75%;
}

#top-menu {
    position: relative;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;    
}

#top-menu li {
    float: left;
    margin: 0;
    padding: 0;
    /*height: 40px;*/
    position: relative;
    display: block;
}

#top-menu li a {    
    display: block;    
    padding: 10px 15px;   
    background: none;
    text-decoration: none;
    color: #a9c7e1;
    font-size: 1.1em;    
}

#top-menu ul {
    list-style: none;
    position: absolute;
    left: -9999px; 
    opacity: 0;
    -webkit-transition: 0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
    z-index: 10;
    padding: 0;
}

#top-menu ul li {
    border-top: 1px solid #2f3e4c; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float: none;
    background-color: white;
}

#top-menu ul a {
    white-space: nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display: block;
    font-weight: normal;
    color: #a9c7e1;
}

#top-menu li:hover ul { /* Выводим выпадающий пункт при наведении курсора */
    left: 0;
    opacity: 1;
}

#top-menu li:hover a { /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background-color: #4c5a6b;
    background: url(/Content/system/bg-dark-strips.gif) top left repeat;
    color: #ffffff;
    /*background: rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
    /*text-decoration: underline;*/
}

#top-menu li:hover ul a { /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.075s linear;
    color: #a9c7e1;
}

#top-menu li:hover ul li a:hover { /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background: none;
    background-color: #4f6c88;
    color: white;
    /*background: rgba(51,51,51,0.75); /* Будет полупрозрачным */
    /*text-decoration: underline;*/
    /*-moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);*/
}


/* Main Title
-----------------------------------------------------------*/
#main-title {
    padding: 5px 20px;
    background-color: #f4f7f9;
    border: 2px solid #cfdee7;
}

#main-title h1 {
    color: #5ea3df;
    margin: 5px 0;
    font-size: 1.5em;
}

/* Панель инструментов
-----------------------------------------------------------*/
#admin-tools {
    position: relative;
    clear: both;
    padding: 5px 5px 7px 15px;
    border-bottom: 1px solid #cfdee7;
}

#admin-tools p {
    padding: 0;
    margin: 0;
}

#admin-tools a{
    color: black;
    margin-right: 20px;
}

#admin-tools .total-count {
    font-weight: bold;
}

#admin-tools #bread-crumbs a {
    margin: 0;
    color: navy;
}

#bread-crumbs img.separator {
    margin: 0 5px 0 5px;
}

/* Account
-----------------------------------------------------------*/
.login {
    width: 24%;
    float: right;
    position: relative;
    margin-top: 6px;
}

.login p {
    text-align: right;
    margin: 0;
    padding: 3px 15px 0 0;
}

.login p span.username {
    color: white;    
    margin-right: 10px;
}

/* Wrapper 2
-----------------------------------------------------------*/
#wrapper2 {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: white;
    background: url(/Content/system/bg-light-strips.gif) top left repeat;
    float: left;
    overflow: hidden;
}

/* Content
-----------------------------------------------------------*/

#content {
    position: relative;
    float: left;
    width: 98%;
    padding: 7px 1%;
    margin: 0
}

/* Статистика
-----------------------------------------------------------*/
.stat-block {
    padding: 5px;
    background-color: #f4f7f9;
    margin: 2px 0 10px 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #cfdee7;
}

.stat-block h2 {
    color: #374048;
    margin: 5px;
    background-color: #ebf0f3;
    background: url(/Content/system/bg-light-strips.gif) top left repeat;
    padding: 5px 10px 10px 10px;
    border-top: 2px solid #cfdee7;
}


/* Постраничная навигация
-----------------------------------------------------------*/
.page-nav {    
    clear: both;
    padding: 3px 3px 10px 3px;
    margin-top: 10px;
    text-align: center;
}

.page-nav a {
    text-decoration: underline;
    color: #628ac9;
    margin: 4px;
    font-size: 1.3em;
}
.page-nav a.selected {    
    background-color: #83abe0;
    padding: 3px 6px 5px 6px;
    color: white;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.page-nav .page-nav-total {
    font-weight: bold;
    color: #628ac9;
    margin-right: 20px;
    font-size: 1.2em;
}
.page-nav a img {
    margin-bottom: -5px;
}


/* Общие элементы
-----------------------------------------------------------*/
a {
    text-decoration: underline;
    color: #628ac9;
}
a:hover {
    text-decoration: none;    
}

.back-to-list {
    margin: 0 0 10px 0;
    padding: 5px 5px 7px 10px;
    background-color: #f5f7f9;
}
.back-to-list a {
    font-size: 1.2em;
}

/* Подвал
-----------------------------------------------------------*/
footer {
    position: relative;
    width: 998px;
    padding: 5px 10px;
    background-color: #353f4c;
    background: url(/Content/system/bg-dark-strips-2.gif) top left repeat;
    clear: both;
    border-left: 1px solid #dce5f2;
    border-right: 1px solid #dce5f2;
}

footer p{
    color: white;
}