@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Что-то сломалось:(</title>
</head>
<body>
    <section id="error">
        <h1>
            Что-то сломалось:(
        </h1>
        <h2>
            Произошла ошибка при обработке вашего запроса.
        </h2>
        <p>Наши специалисты уже в курсе данной ошибки и в кратчайшие сроки исправят ее.</p>
        <p>@Html.ActionLink("Вернуться на главную","Index","Info", null, null)</p>
        @if (!String.IsNullOrEmpty(Model))
        { 
            <div id="error-title">@Model</div>
        }
    </section>
</body>
</html>
