@model string
@*<section class="leave-review">
    <a href="@Model" title="Оставить отзыв">
        <img src="~/Content/system/leave_review.png" title="Оставить отзыв" alt="Оставить отзыв" />
    </a>
</section>*@