using Bankiru.Models.Domain.Users
@model List<VM_UserBalanceHistoryItem>
<div id="user-balance-history-block">
    <div class="stat-block">
        <h2>Пополнение баланса пользователя</h2>
        <div class="stat-block-body">
        </div>
    </div>
</div>
