@{
    ViewBag.Title = "Панель управления сайтом";
    Layout = "~/Areas/Admin/Views/Shared/MasterAdmin.cshtml";    
}

<section class="stat-block">
    <h2>Последние добавленные организации</h2>
    <div class="stat-body">
        <ul>
            <li>Сбербанк России</li>
            <li>ВТБ</li>
            <li>Газпромбанк</li>
            <li>ВТБ 24</li>
            <li>ФК Открытие</li>
            <li>Россельхозбанк</li>
            <li>Альфа-Банк</li>
        </ul>
    </div>
</section>

<section class="stat-block">
    <h2>Последние добавленные отзывы</h2>
    <div class="stat-body">
        <ul>
            <li>Сегодня 17.02.2016 отказались пополнять старые вклады на сумму более 50000 мотивируя это распоряжением руководства. В письменной форме дать ответ отказались. Впервые вижу что банк...</li>
            <li>17.02.16г. пришёл оформить карту "Маэстро" для получения зар. платы. Операционист Матвеева Д. "осведомила" меня, что "Сбербанк" перестал выпуск карт "Маэстро", можно оформить "Визу...</li>
            <li>Обратилась я в банк за получением кредита 12.02.2016 . Сотрудница стала мне навязывать страховку в размере 60.000 рублей,я спросила могу ли я в случае одобрения отказаться от неё...</li>
            <li>В понедельник 15.02.2016 в районе 10 часов утра пришла в отделение Совкомбанка на Приморской станции метро, чтобы внести очередной платеж по кредиту т.к. в свое время только этот... </li>
        </ul>
    </div>
</section>

<section class="stat-block">
    <h2>Последние добавленные статьи</h2>
    <div class="stat-body">
        <ul>
            <li>Сегодня 17.02.2016 отказались пополнять старые вклады на сумму более 50000 мотивируя это распоряжением руководства. В письменной форме дать ответ отказались. Впервые вижу что банк...</li>
            <li>17.02.16г. пришёл оформить карту "Маэстро" для получения зар. платы. Операционист Матвеева Д. "осведомила" меня, что "Сбербанк" перестал выпуск карт "Маэстро", можно оформить "Визу...</li>
            <li>Обратилась я в банк за получением кредита 12.02.2016 . Сотрудница стала мне навязывать страховку в размере 60.000 рублей,я спросила могу ли я в случае одобрения отказаться от неё...</li>
            <li>В понедельник 15.02.2016 в районе 10 часов утра пришла в отделение Совкомбанка на Приморской станции метро, чтобы внести очередной платеж по кредиту т.к. в свое время только этот... </li>
        </ul>
    </div>
</section>

<section class="stat-block">
    <h2>Последние добавленные комментарии</h2>
    <div class="stat-body">
        <ul>
            <li>Сегодня 17.02.2016 отказались пополнять старые вклады на сумму более 50000 мотивируя это распоряжением руководства. В письменной форме дать ответ отказались. Впервые вижу что банк...</li>
            <li>17.02.16г. пришёл оформить карту "Маэстро" для получения зар. платы. Операционист Матвеева Д. "осведомила" меня, что "Сбербанк" перестал выпуск карт "Маэстро", можно оформить "Визу...</li>
            <li>Обратилась я в банк за получением кредита 12.02.2016 . Сотрудница стала мне навязывать страховку в размере 60.000 рублей,я спросила могу ли я в случае одобрения отказаться от неё...</li>
            <li>В понедельник 15.02.2016 в районе 10 часов утра пришла в отделение Совкомбанка на Приморской станции метро, чтобы внести очередной платеж по кредиту т.к. в свое время только этот... </li>
        </ul>
    </div>
</section>