body {
    font-size: .85em;
    font-family: "Segoe UI", Helvetica, Sans-Serif, Verdana;
    color: #232323;   
    /*background:url(/Content/system/bg-body.png) top left repeat-x;*/
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
}
textarea, input, select {    
    font-family: Sans-Serif, "Segoe UI", Verdana, Helvetica;
    font-size: 1.0em;
}
header, footer, nav, section, aside, article {
    display: block;
    margin: 0;
    padding: 0;
}
div {
     margin: 0;
     padding: 0;
     display: block;
     /*border: 1px solid gray;*/
}
a {
    color: #3d66ab;    
    text-decoration: underline;
}
a:hover {
   text-decoration: none;    
}
h1, h2, h3 {
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    font-weight: normal;
}


/* Модальное окно Регистрация/Авторизация
-----------------------------------------------------------*/
#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
    }

#sign-in-box .window {
    position:absolute;
    right: 0;
    top: 150px;
    -top: 40px;
    /*width:200px;
    height:300px;*/
    display: none;
    z-index: 9999;
    padding: 0;/*20px;*/
    overflow: hidden;
    border: 3px solid #dfdfdf
}  
#sign-in-box #sign-in-dialog {
    width: 340px; 
    /*height:203px;*/
    /*padding:20px;*/
    background-color: #ffffff;
    overflow: hidden;
}
#sign-in-box #sign-in-dialog form {
    margin: 20px;
}
#sign-in-box #sign-in-dialog div{
    position: relative;
}
#sign-in-box #sign-in-dialog label{
    color: #333333;
    font-size: 1.2em;
}
#sign-in-box #sign-in-dialog input[type=text],
#sign-in-box #sign-in-dialog input[type=password]{
    color: #000;
    font-size: 1.3em;
    border: 1px solid #9ba6b3;
    padding: 7px 5px;
    background-color: #fff;
    margin: 5px 0; 
    width: 288px;    
}
#sign-in-box #sign-in-dialog input[type=submit] {
    margin-top: 10px;
    cursor: pointer;
}
#sign-in-box #sign-in-dialog .under-sign-in {
    width: 300px;
    background-color: #ededee;
    padding: 10px 20px;
}
#sign-in-box #sign-in-dialog .forgot-password {
    position:absolute;
    right: 0;
    top: 3px;
}
/*#sign-in-box .top {
    position:absolute;
    left:0;
    top:0;
    width:300px;
    height:30px;
    background: #00adee;
    padding: 10px;
    }

#sign-in-box .close {
    float:right;
}*/


/* Кнопки
-----------------------------------------------------------*/
input.button-ok{
    color: #ffffff;
    background-color: #00adee;
    display: block;
    padding: 7px 15px 7px 15px;
    border: 2px solid #009cd6;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.button-ok:hover{
    background-color: #10bcfc;
    border: 2px solid #00adee;
}

#sign-in-box .content {
    padding-top: 35px;
}


/* Сообщения
-----------------------------------------------------------*/
#error-title {
    background-color: #ffc7c7;
    border: dashed 1px maroon;
    color: red;
    font-size: 1.1em;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#warning-title {
    background-color: #ffdcbb;
    border: dashed 1px #dc7505;
    color: black;
    font-size: 1.1em;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#info-title {
    background-color: #dcf8ff;
    border: dashed 1px navy;
    color: navy;
    font-size: 1.1em;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}
textarea {
    min-height: 75px;
}
.editor-label {
    margin: 1em 0 0 0;
}
.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
.validation-summary-errors {
    /*font-weight: bold;*/
    color: #f00;
    padding: 0;
    margin: 0;
}
.validation-summary-errors ul{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}
.validation-summary-errors ul li{
   display: block;
}
.validation-summary-valid {
    display: none;
}

/* Общие классы
-----------------------------------------------------------*/
.text-red {
    color: red;
}
.text-navy {
    color: navy;
}
img.left-float {
    float: left;
    margin: 0 10px 5px 0;
}
img.right-float {
    float: right;
    margin: 0 0 10px 10px;
}
#CaptchaCode {
    width: 80px;
    font-size: 1.2em;
}

/* Header
-----------------------------------------------------------*/
header {
    position: relative;
    width: 100%;    
    background-color: #0d1823;
    overflow: hidden;
}
#header-inner {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
#header-line-top {
    height: 125px;
    background:url(/Content/system/header-bg.jpg) top center no-repeat;
    width: 1200px;
    position: relative;        
}
#logo {
    width: 240px;
    position: relative;
    float: left;
    margin: 0px 30px 0 0;
    padding-top: 34px;
}

/* Банер верхний
-----------------------------------------------------------*/
#top-baner {    
    position: relative;
    float: left;
    /*border: 2px solid #e9edf0;*/
    background-color: white;
    padding: 3px;
    margin-top: 9px;    
}


/* Курсы валют
-----------------------------------------------------------*/
#currencies {    
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
#currencies h3{
    text-transform: uppercase;
    color: #ffffff;
    background-color: #374e74;
    /*background: url(/Content/system/right_column_h3_bg.png) top left no-repeat;*/
    padding: 10px;
    margin: 0;
}
#currencies-body {    
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 20px 10px;
    background: url(/Content/system/currencies-bg.png) bottom left no-repeat;
    background-color: #374e74;
}
#currencies p {
    color: white;
    padding: 0;
    margin: 0;
}
#currencies .currency {    
    overflow: hidden;    
    margin: 0 5px 0 0;
    padding: 10px 0 0 0;
    display: block;
    color: #87afe2;    
    float: left;
}
#currencies .currency img{    
    margin-left: 5px;
    /*padding-top: 5px;*/
}
#currencies .currency-name {
    /*font-size: 1.1em;
    font-weight: 500;*/
    float: left;
    padding: 10px 10px 0 0;
}
#currencies .currency-rate {
    margin: 0;
    font-size: 1.3em;
    font-weight: 500;
    color: #ffffff;    
}
#currencies .currency-up {
    color: #c8ffa0;
    font-size: 1.2em;
    /*padding-left: 20px;*/
}
#currencies .currency-down {
    color: #ff87a5;  
    font-size: 1.2em;  
    /*padding-left: 40px;*/
}


/* Авторизация
-----------------------------------------------------------*/
#login {
    width: 280px;
    position: relative;
    float: right;
    text-align:right;    
}
#login .login-button img{
    margin-right: 20px;
    margin-top: 43px;
}
#login-block {
    padding-top: 5px;
}
#form-login-ajax {
    position: relative;
    overflow: hidden;
    /*float: right;*/
}
#login-block .editor-label-email,
#login-block .editor-label-password,
#login-block .editor-label-submit {
    float: right;
    /*height: 46px;*/
    margin-left: 4px; 
}
#spinning-submit-login {
    float: right;
    margin-top: 20px;
    display: none;
}
#login-block .form-login-element-wrapper {
    position: relative;
    overflow: hidden;
}
#login-block .form-login-valid-mes {
    position: relative;
    overflow: hidden;
    padding-left: 73px;
    font-size: 0.9em;
}
#login-block .form-login-valid-mes ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#login-block .form-login-valid-mes ul li{
    padding: 0;
    margin: 0;
    font-weight: normal;
}
#login-block label {
    font-size: 0.9em;
}
#login-block .editor-label-email input{
    width: 120px;
}
#login-block .editor-label-password input{
    width: 80px;
}
#login-block .editor-label-submit{    
    padding-top: 17px;

}
#login-block .under-login {
    text-align: right;
    padding-right: 75px;
}
#login-block .under-login a{
    color: #6594d6;
    text-decoration: underline;
}
#login-block .under-login a:hover{    
    text-decoration: none;
}
/* Блок информации о пользователе
-----------------------------------------------------------*/
#logout {
    float: right;
    margin: 0 0 5px 5px;
}
#login-block .club-member {
    text-align: right;
    color: #5f8fd4;
}
#login-block .club-member .nic {
    color: black;
    background-color: #ccf28d;
    font-size: 1.1em;
    padding: 2px 7px;
    margin: 0 3px 0 3px;
}
#login-block .lk {
    text-align: right;
}
#login-block .lk a {
    color: #4972b1;
}

/* Верхнее меню
-----------------------------------------------------------*/
#top-menu-wrapper {
    position: relative;
    width: 100%;    
    background-color: #0d1823;
    overflow: hidden;
    padding-top: 10px;
}
#top-menu-wrapper.fixed {
    position: fixed;
    width: 100%;    
    background-color: #0d1823;
    overflow: hidden;
    z-index: 9999;
    top: 0px;
    padding-top: 0px;
}
#top-menu {    
    width: 1200px;
    position: relative;
    margin: 0 auto;    
    padding: 0;    
    overflow: hidden;
}
#top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#top-menu ul li {
    float: left;
    position: relative;
    margin: 0px;    
    padding: 0px;
}
#top-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.0em;
    /*font-family: "Arial";*/
    text-transform: uppercase;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px 5px 10px;
    border-bottom: 0px solid #00adee;
}
#top-menu ul li:hover {
    /*background-color: white;
    background-color: rgba(255, 255, 255, 0.50);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;*/
}
#top-menu ul li.current a,
#top-menu ul li a:hover {    
    /*-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;    
    background-color: #87afe2;
    color: white;*/     
    padding: 0px 10px 0px 10px;
    height: 40px;
    border-bottom: 5px solid #00adee;
}

/* Wrapper
-----------------------------------------------------------*/
#wrapper {
    width: 1200px;    
    padding: 0 0 50px 0;
    margin: 0 auto;
    position: relative;
    background: none;
    overflow: hidden;
    /*background: url(/Content/system/right_column_top.png) 908px 0px no-repeat;*/
}
#wrapper2 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 78%;
    background-color: white;
    z-index: -1;
}

/* Центральная и левая колонка
-----------------------------------------------------------*/
#column-middle-left {
    position: relative;
    float: left;
    margin: 0;
    width: 78%;
    padding: 0;
    background-color: #ffffff;
}

/* Левая колонка
-----------------------------------------------------------*/
#column-left {
    position: relative;
    float: left;
    margin: 0;
    width: 25%;
    padding: 0;
    background: none;
    /*background: url(/Content/system/left_column_bg.jpg) top right repeat-y;*/
}
#column-left-top {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/Content/system/left_column_top_bg.png) top left repeat-x;
    width: 100%;
    height: 30px;
    z-index: 1;
}
#column-left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(/Content/system/left_column_bottom_bg.png) top left repeat-x;
    width: 100%;
    height: 50px;
    z-index: 1;
}

/* Левая колонка МЕНЮ
-----------------------------------------------------------*/
#column-left section.org-menu,
#column-left section.club-menu {
    margin: 0 0 10px 0;
}
#column-left section.org-menu h3,
#column-left section.club-menu h3{
    text-transform: uppercase;
    color: #ffffff;
    background: none;        
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: #374e74;
}
#column-left section.org-menu ul,
#column-left section.club-menu ul{
    position: relative;    
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    /*background: url(/Content/system/org_menu_item_separator_bg.jpg) top right no-repeat;*/
}
#column-left section.org-menu ul li,
#column-left section.club-menu ul li{        
    /*background: url(/Content/system/org_menu_item_separator_bg.jpg) bottom right no-repeat;*/
    border-bottom: 1px solid #dfdfdf;
}
#column-left section.org-menu ul li a,
#column-left section.club-menu ul li a {
    text-decoration: none;
    font-weight: normal;
    color: #373c41;
    padding: 7px 10px 10px 18px;
    display: block;
    background: url(/Content/system/li-marker-arrows.png) left center no-repeat;
}
#column-left section.org-menu ul li.current a,
#column-left section.org-menu ul li.current a:hover,
#column-left section.club-menu ul li.current a,
#column-left section.club-menu ul li.current a:hover {
    color: #00adee;
    font-weight: 500;
    background: url(/Content/system/li-marker-arrows-over.png) left center no-repeat;
}
#column-left section.org-menu ul li a:hover,
#column-left section.club-menu ul li a:hover {    
    color: #00adee;
    background: url(/Content/system/li-marker-arrows-over.png) left center no-repeat;
}

/* Виджеты социальных сетей
-----------------------------------------------------------*/
#social-widgets {
    padding: 5px 0;
}
#social-widgets h3{
    text-transform: uppercase;
    color: #ffffff;
    background: none;        
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #374e74;
}
#social-widgets .clear {
    clear: both;
    height: 5px;
}
/* Левая колонка ОСТАВИТЬ ОТЗЫВ
-----------------------------------------------------------*/
#column-left section.leave-review {    
    text-align: center;
    margin: 15px 0 15px 0;
}

/* Левая колонка ПОСЛЕДНИЕ КОММЕНТАРИИ
-----------------------------------------------------------*/
#column-left section.last-comments {
    /*padding-left: 10px;*/
}
#column-left section.last-comments h3{
    text-transform: uppercase;
    color: #ffffff;
    background: none;        
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #374e74;
}
#column-left section.last-comments ul.comments{
    position: relative;    
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.95em;
    background: url(/Content/system/left_column_item_separator.png) center top repeat-x;
}
#column-left section.last-comments ul.comments li{
    margin: 5px 0 5px 0;
    padding: 10px;    
    /*background: url(/Content/system/left_column_item_separator.png) center bottom repeat-x;*/
    background-color: #fafafa;
    position: relative;
}
#column-left section.last-comments ul.comments li span.comment-author {
    color: #6c6d70;
    font-weight: bold;
    float: left;
    text-indent: 15px;
}
#column-left section.last-comments ul.comments li span.comment-date {
    color: #6c6d70;
    float: left;
    font-size: 0.9em;
}
#column-left section.last-comments ul.comments li span.comment-text {
    color: #6c6d70;
    padding: 5px 0 5px 0;
    float: left;
    text-indent: 15px;
    /*text-align: justify;*/
}
#column-left section.last-comments ul.comments li span.comment-readmore {
    /*text-indent: 15px;
    text-align: justify;*/
}
#column-left section.last-comments ul.comments li span.comment-readmore a{
    color: #3d66ab;    
    text-decoration: underline;
    font-weight: 700;        
}
#column-left section.last-comments ul.comments li span.comment-readmore a:hover{
    text-decoration: none;
}

/* Главный блок
-----------------------------------------------------------*/
#main {
    position: relative;
    float: right;
    margin: 0;
    width: 75%;
    padding: 0;
    background: none;
    overflow:hidden;
}

/* Правая колонка
-----------------------------------------------------------*/
#column-right {
    position: relative;
    float: right;
    margin: 10px 0 0 0;
    width: 22%;
    padding: 0;
    /*background-color: #485566;*/
    /*background: url(/Content/system/bg-dark-strips.gif) top left repeat;*/
}
#column-right-bottom {
    position: absolute;
    bottom: -19px;
    left: 0;
    background: url(/Content/system/right_column_bottom.png) top left no-repeat;
    width: 50px;
    height: 38px;
    z-index: 3;
}
#column-right-top {
    position: absolute;
    top: -30px;
    left: -28px;
    background: url(/Content/system/right_column_top.png) top left no-repeat;
    width: 65px;
    height: 58px;
    z-index: -1;
}

/* Правая колонка НОВОСТИ
-----------------------------------------------------------*/
#column-right section.last-news {
    padding: 0;    
    margin: 0;
}
#column-right section.last-news h3{
    text-transform: uppercase;
    color: #ffffff;
    background-color: #374e74;
    /*background: url(/Content/system/right_column_h3_bg.png) top left no-repeat;*/    
    padding: 10px;
    margin: 5px 0;
}
#column-right section.last-news ul.news{
    position: relative;    
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.95em;
}
#column-right section.last-news ul.news li{
    margin: 5px 0 5px 0;
    background-color: #fafafa;
    /*background-color: rgba(90,105,124,0.54);*/
    padding: 7px;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/
}
/*#column-right section.last-news ul.news li:hover{    
    background-color: #5c708a;
    background-color: rgba(126,157,200,0.33);
}*/
#column-right section.last-news ul.news li span.news-title {
    color: #6c6d70;    
}
#column-right section.last-news ul.news li span.news-date {
    color: #6c6d70;
    font-weight: bold;
}
#column-right section.last-news ul.news li span.news-readmore a{
    color: #3d66ab;
    font-weight: 700;
    text-decoration: underline;
}
#column-right section.last-news ul.news li span.news-readmore a:hover {
    text-decoration: none;
}
#column-right section.last-news p.all-news-readmore {
    text-align: right;
    margin: 8px 10px 20px 10px;
}
#column-right section.last-news p.all-news-readmore a{
    color: #3d66ab;
    font-weight: 700;   
    text-decoration: underline;
}
#column-right section.last-news p.all-news-readmore a:hover{
    text-decoration: none;
}

/* Последние отзывы на главной странице
-----------------------------------------------------------*/
#main .last-reviews {
    position: relative;
    padding: 0;
    margin: 10px;
    border-top: 2px dashed #d2dde6;
}
#main .reviews{
    position: relative;    
    overflow: hidden;
}
#main .review{
    position: relative;    
    overflow: hidden;
}
#main .review-arrow {
    position: absolute;
    z-index: 5;
    left: -8px;
    top: 20px;
    width: 8px;
    height: 15px;
    background: url(/Content/system/review_arrow.png) top left no-repeat;
}
#main .last-reviews h3 {
    text-transform: uppercase;
    color: #4b78b9;
    background: none;        
    padding: 5px 0 10px 10px;
    margin: 5px 0 0 0;
    margin-bottom: 10px;
}
#main .review-left-column {
    position: relative;
    float: left;
    width: 70px;
}
#main .review-main-column {
    position: relative;
    float: right;
    width: 580px;
    border: 1px solid #d3dde6;
    background-color: #f5f6fa;
    padding: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#main .review-main-column p{
    margin: 0 0 5px 0;
}
#main .review-main-column .review-org a{
    color: #3f4b5b;
    font-size: 1.2em;
}
#main .review-main-column .review-author{
    color: #5180c4;
}
#main .review-main-column .review-author time {
    color: #71859d;
    font-size: 0.9em;
}
#main .review-main-column .review-raiting {
    color: gray;
    margin: 0 0 5px 10px;
    float: right;
    width: 80px;
}
#main .review-main-column .green{
    color: green;
}
#main .review-main-column .red{
    color: red;
}
#main .review-main-column .orange{
    color: orange;
}
#main .review-main-column .navy{
    color: navy;
}
#main .review-main-column .violet{
    color: darkviolet;    
}
#main .review-main-column .review-raiting-value {
    font-size: 1.3em;
}
#main .review-main-column .review-readmore {
    text-align: right;
}
#main .review-main-column .review-readmore a {
    color: #4972b1;
}

/* Регистрация
-----------------------------------------------------------*/
#register {
    padding: 10px 15px 10px 15px;
    position: relative;    
    overflow: hidden;
}
#register h1{
    background: none;
    background: url(/Content/system/h1_bg.gif) center right repeat-x;
    color: #4b78b9;
    margin: 13px 5px 10px 5px;
    padding: 0;
}
#register h1 span {
    background: white;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
#form-register {
    padding-top: 10px;
}
#form-register .editor-label{
    margin: 0 0 3px 0;
    padding: 0;
    color: #4b78b9;
}
#form-register .editor-field{
    margin: 0;
    padding: 0 0 7px 0;
}
#form-register .editor-field input[type=text],
#form-register .editor-field input[type=email],
#form-register .editor-field input[type=password] {
    width: 300px;
    padding: 5px 10px;
}
#form-register .editor-field select {
    padding: 5px 10px;
}
#captcha-block {
    margin-top: 3px;
}
#form-register #CaptchaCode {
    width: 80px;
    font-size: 1.2em;
}
#form-register #login-submit {
    padding: 5px 10px;
}

/* Восстановление пароля
-----------------------------------------------------------*/
#password-recover {
    padding: 10px 15px 10px 15px;
    position: relative;    
    overflow: hidden;
}
#password-recover h1{
    background: none;
    background: url(/Content/system/h1_bg.gif) center right repeat-x;
    color: #4b78b9;
    margin: 13px 5px 10px 5px;
    padding: 0;
}
#password-recover h1 span {
    background: white;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
#form-password-recover {
    padding-top: 10px;
}
#form-password-recover .editor-label{
    margin: 0 0 3px 0;
    padding: 0;
    color: #4b78b9;
}
#form-password-recover .editor-field{
    margin: 0;
    padding: 0 0 7px 0;
}
#form-password-recover .editor-field input[type=text] {
    width: 300px;
    padding: 5px 10px;
}
#form-password-recover #CaptchaCode {
    width: 80px;
    font-size: 1.2em;
}
#form-password-recover #password-recover-submit {
    padding: 5px 10px;
}

/* Изменение пароля
-----------------------------------------------------------*/
#change-password {
    padding: 10px 15px 10px 15px;
    position: relative;    
    overflow: hidden;
}
#change-password h1{
    background: none;
    background: url(/Content/system/h1_bg.gif) center right repeat-x;
    color: #4b78b9;
    margin: 13px 5px 10px 5px;
    padding: 0;
}
#change-password h1 span {
    background: white;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
#form-change-password {
    padding-top: 10px;
}
#form-change-password .editor-label{
    margin: 0 0 3px 0;
    padding: 0;
    color: #4b78b9;
}
#form-change-password .editor-field{
    margin: 0;
    padding: 0 0 7px 0;
}
#form-change-password .editor-field input[type=password],
#form-change-password .editor-field input[type=text] {
    width: 300px;
    padding: 5px 10px;
}
#form-change-password #CaptchaCode {
    width: 80px;
    font-size: 1.2em;
}
#form-change-password #change-password-submit {
    padding: 5px 10px;
}

/* Список организаций
-----------------------------------------------------------*/
#orgs-list {
    padding: 10px 20px 10px 20px;
    position: relative;    
    overflow: hidden;
}
#orgs-list h1{
    background-color: #374e74;
    /*background: url(/Content/system/h1_bg.gif) center right repeat-x;*/
    color: #ffffff;
    margin: 0 0 5px 0;
    padding: 10px;
    text-transform: uppercase;
}
#orgs-list h1 span {
    background: white;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
#orgs-list h2 {
    color: #3c4249;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0 10px 0 5px;
    font-style: italic;
    text-align: left;
}
#orgs-list .org-list-header {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 5px;
}
#orgs-list .org-list-letters {    
    position: relative;    
}
#orgs-list .org-list-letters a{
    font-size: 1.0em;
    color: #5280c5;
    font-weight: 500;
    margin-right: 5px;
}
#orgs-list .org-list-letters a.current {
    /*background-color: #83abe0;*/
    /*padding: 3px;*/
    color: #3d66ab;
    font-weight: 700;
    text-decoration: underline;
}
#orgs-list .org-list-letters a.current:hover{
    text-decoration: none;
}
#orgs-list .org-list-letters span {
    margin-left: 10px;    
}
#orgs-list .org-list-letters span {
    color: #75818f;
}
#orgs-list .org-list-count {
    position: relative;
    font-size: 1.2em;
    color: #75818f;    
    margin-top: 5px;
}
#orgs-list .org-list-count span {
    color: black;
}
#orgs-list table.orgs tr.odd {
    /*background-color :#f5f6fa;*/
    background-color :#f0faff;
}
#orgs-list table.orgs td.logo{
    width: 120px;    
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
#orgs-list table.orgs td.logo a img {
    max-width: 100px;
    max-height: 80px;
}   
#orgs-list table.orgs td.title{
    width: 530px;    
    padding: 5px;
}
#orgs-list table.orgs td p{
    margin: 0 0 5px 0;
}
#orgs-list table.orgs td p span.org-title {
    margin: 0;    
}
#orgs-list table.orgs td p span.org-title a{    
    font-size: 1.3em;
    color: black;
}
#orgs-list table.orgs td p span.org-points a{
    color: #4972b1;       
}
#orgs-list table.orgs td p span.org-reviews {
    margin-left: 10px;
}
#orgs-list table.orgs td p span.org-reviews a{
    color: #4972b1;    
}

/* Организация детали
-----------------------------------------------------------*/
#org-detail,
#org-review-detail {
    padding: 10px 20px 0px 20px;
    position: relative;    
    overflow: hidden;
}
#org-detail h1,
#org-review-detail h1{
    background-color: #374e74;
    /*background: url(/Content/system/h1_bg.gif) center right repeat-x;*/
    color: #ffffff;
    margin: 0 0 5px 0;
    padding: 10px;
    text-transform: uppercase;
}
/*#org-detail h1 span,
#org-review-detail h1 span {
    background: white;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}*/
#org-detail h2,
#org-review-detail h2 {
    color: #3c4249;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0 10px 0 5px;
    font-style: italic;
    text-align: left;
}
#org-detail .org-menu,
#org-review-detail .org-menu {
    position: relative;
    overflow: hidden;    
    margin: 10px 0 0 5px;
    background: url(/Content/system/border_pixel.gif) left bottom repeat-x;
}
#org-detail .org-menu div,
#org-review-detail .org-menu div{
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
    border-left: 1px solid #d2dde6;
    border-top: 1px solid #d2dde6;
    border-right: 1px solid #d2dde6;
    border-bottom: 1px solid #d2dde6;        
    float: left;
    position: relative;
    background-color: #f5f6f9;
    margin-left: 10px;
    font-weight: 500;
}
#org-detail .org-menu .current,
#org-review-detail .org-menu .current {
    border-bottom: 1px solid #ffffff;
    background-color: white;
}
#org-detail .org-menu a,
#org-review-detail .org-menu a{
    color: #3d66ab;

}
#org-detail .logo{
    float: left;
    padding: 0 10px 10px 0;
}
#org-detail .logo img{
    max-width: 150px;
}
#org-detail .org-desc {
    padding: 5px 10px 0 10px;
    position: relative;
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}
#org-detail .org-desc p {
    text-indent: 30px;
    text-align: justify;
}
#org-detail .org-desc .org-desc-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    background: url(/Content/system/left_column_bottom_bg.png) top left repeat-x;
    display: none;
}
#org-detail .org-desc-show {
    margin: 0 0 10px 0;
    background: url(/Content/system/border_pixel.gif) top left repeat-x;
    display: none;
    position: relative;    
    text-align: center;
    clear: both;
}
#org-detail .org-desc-show img{
    cursor: pointer;
}
#org-detail .org-desc p.org-author{
    /*text-indent: 0px;*/
    text-align: left;
    font-weight: bold;
    font-style: italic;
}
/* Отзывы на странице организации
-----------------------------------------------------------*/
.org-reviews-readmore {
    text-align: right;
    margin: 0 20px 0 20px;
    padding-right: 10px;
}
.org-reviews-readmore a {
    color: #5280c5;
    font-size: 1.2em;
}
/* Отзывы организации
-----------------------------------------------------------*/
#org-detail .org-reviews,
#org-review-detail .org-review {
    margin-top: 10px;
}
#org-detail .org-reviews-count {
    position: relative;
    font-size: 1.2em;
    color: #75818f;    
    margin-top: 5px;
    margin-bottom: 5px;
    /*padding-left: 70px;*/
    /*text-align: right;*/
}
#org-detail .org-reviews-count span {
    color: black;
}
/* Форма отзыва
-----------------------------------------------------------*/
.org-reviews-form-link{
    margin: 0 20px 0 20px;    
}
.org-reviews-form-link span{
    color: gray;
    padding-top: 5px;    
}
#module-form-review {    
    border: 2px dashed #c2cbd7;
    padding: 15px;
    margin: 10px 20px 10px 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url(/Content/system/form_review_bg.png) top right no-repeat;
    background-color: #f5f7f9;
}
#module-form-review h3{
    text-transform: uppercase;
    color: #4b78b9;
    background: none;        
    padding: 5px 5px 0 5px;
    margin: 0;
    margin-bottom: 10px;
}
#form-review label {
    color: #75818f;
}
#form-review #UserName
{
    padding: 5px;
    color: #3c4249;
    width: 300px;
}
#form-review #ReviewText{
    padding: 5px;
    color: #3c4249;
    width: 620px;
    height: 100px;
}
#form-review #Rating {
    padding: 5px;
    color: #39397b;
    margin-left: 5px;
}
#form-review #CaptchaCode
{
    padding: 5px;
    color: #3c4249;
    width: 88px;
}
#form-review .editor-field-submit {
    padding-top: 10px;
}
#form-review input[type=submit] {
    padding: 5px 10px;
}

/* Captcha
-----------------------------------------------------------*/
#captcha-block {
    padding-bottom: 5px
}
#captcha-refresh-link{
    
}
#imgCaptchaRefresh {
    opacity: 0.4;
    cursor: pointer;
    margin-left: 5px;
}
#imgCaptchaRefresh:hover {
    opacity: 1.0;
}
#review-creating {
    display: none;
}
#comment-creating {
    display: none;
}
#review-created {
    font-size: 1.1em;
    margin-left: 10px;
}
/* Офисы и банкоматы организации
-----------------------------------------------------------*/
#org-points-menu {
    margin-top: 10px;
    position: relative;
    clear: both;
    overflow: hidden;
}
#org-points-menu a {
    display: block;
    padding: 5px 10px 7px 10px;
    margin-left: 10px;
    border: 1px solid #d2dde6;
    background-color: #f4f6f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: underline;
    color: #5280c5;
    float: left;
    cursor: pointer;
}
#org-points-menu .current,
#org-points-menu a:hover {
    text-decoration: none;    
    color: #000000;
    border: 1px solid #8badd8;
    background-color: #dfe8f3;
    font-weight: 500;
}
#org-detail .org-points-count {
    position: relative;
    font-size: 1.2em;
    color: #75818f;    
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}
#org-detail .org-points-count span {
    color: black;
}
#org-office-list,
#org-atm-list {
    list-style-type: none;  
    margin: 5px 0;
    position: relative;
    padding: 5px 0 0 0;
}
#org-office-list li,
#org-atm-list li {
    /*padding: 5px;*/
    /*position: relative;*/
    white-space: nowrap;
    padding: 10px 5px 10px 14px;
    border-bottom: 2px solid #ecf0f1;
}
#org-office-list li.header,
#org-atm-list li.header{
    background-color :#dfe8f3;
    font-weight: 500;
}
#org-office-list li div,
#org-atm-list li div {
    /*position: relative;
    float: left;*/
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 1%;
}
#org-office-list li div p,
#org-atm-list li div p{
    margin: 0;
    padding: 0;
}
/* Офисы */
#org-office-list li .office-title {
    width: 30%;
}
#org-office-list li .office-address {
    width: 40%;
}
#org-office-list li .office-schedule {
    width: 25%;    
    color: #3c4249;
}
/* Банкомат */
#org-atm-list li .atm-title {
    width: 30%;
}
#org-atm-list li .atm-address {
    width: 40%;
}
#org-atm-list li .atm-schedule {
    width: 25%;    
    color: #3c4249;
}
#org-office-list li .office-title span,
#org-atm-list li .atm-title span{
    color: #6594d6;
    font-size: 0.9em;
}
#org-office-list li .office-address .office-phone{
    color: navy;    
}

/* Список новостей
-----------------------------------------------------------*/
#news-list {
    padding: 10px 20px;
    position: relative;    
    overflow: hidden;
}
#news-list h1{
    background-color: #374e74;
    /*background: url(/Content/system/h1_bg.gif) center right repeat-x;*/
    color: #ffffff;
    margin: 0 0 5px 0;
    padding: 10px;
    text-transform: uppercase;
}
#news-list h1 span {
    background: white;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
#news-list h2 {
    color: #3c4249;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0 10px 0 5px;
    font-style: italic;
    text-align: left;
}
#news-list .news-list-header {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 5px;
}
#news-list .news-list-count {
    position: relative;
    font-size: 1.2em;
    color: #75818f;    
    margin-top: 5px;
    padding-left: 0px;
}
#news-list .news-list-count span {
    color: black;
}
#news-list ul.news {
    padding: 5px;
    margin: 0;
    list-style-type: none;
}
#news-list ul.news li{
    margin-bottom: 7px;
}
#news-list ul.news li time {
    font-size: 0.9em;
    color: #75818f;
}
#news-list ul.news li a {
    color: #628ac9;
    margin-left: 5px;
}

#news-list p.news-item {
    padding: 5px 5px 0 5px;
    margin: 0;
}
#news-list p.news-item time {
    font-size: 0.9em;
    color: #75818f;
    margin-right: 3px;
}
#news-list p.news-item a{
    color: #3d66ab;
    margin-left: 5px;
    font-size: 0.9em;
    font-weight: 700;
}
/* Новость
-----------------------------------------------------------*/
#news-detail {
    margin: 10px 20px;
}
#news-detail h1 {
    background: none;
    color: #6c6d70;
    margin: 10px 0 10px 0;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 0;
    font-weight: 700;
}
#news-detail .news-info p{
    margin: 5px 0 10px 0;
}
#news-detail .news-info p time {    
    color: #6c6d70;    
}
#news-detail .news-info p a {
    color: #3d66ab;
    background: url(/Content/system/href-arrows.png) 0px 6px no-repeat;
    padding-left: 15px;
    text-transform: uppercase; 
    margin-left: 10px;
    font-weight: 700;
}
#news-detail .news-text {
    clear: both;
    text-indent: 15px;
}
#news-detail .news-text img.img-art-big {
    clear: both;
    padding: 0 0;
    margin: 0 10px 10px 0;
    max-width: 660px;
}
#news-detail .news-text img.img-art-avg {
    float: left;
    padding: 0 10px 10px 0;
    max-width: 300px;
}
#news-detail .news-text img.img-art-small {
    float: left;
    padding: 0 10px 10px 0;
    max-width: 150px;
}
#news-detail .news-source{
    color: #75818f;
    margin-top: 20px;
}
#news-detail .news-source a,
#news-detail .news-text a{
    color: #3d66ab;
    margin-left: 3px;
    font-weight: 700;
}

/* Список прогнозов
-----------------------------------------------------------*/
#forecast-list {
    padding: 10px 20px 10px 20px;
    position: relative;    
    overflow: hidden;
}
#forecast-list h1{
    background-color: #374e74;
    color: #ffffff;
    margin: 0 0 5px 0;
    padding: 10px;
    text-transform: uppercase;
}
#forecast-list h1 span {
    background: white;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
#forecast-list h2 {
    color: #3c4249;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 0 25px 0;
    padding: 0 10px 0 5px;
    font-style: italic;
    text-align: left;
}

#forecast-list .forecasts .forecast-prev {
    margin: 0 0 40px 0;
}
#forecast-list .forecasts .forecast-prev.eur h1{
    background-color: #6e148c;
}
#forecast-list .forecasts .forecast-prev.oil h1{
    background-color: #0d1823;
}
#forecast-list .forecasts .forecast-prev.stock-sberbank h1{
    background-color: #1a9f29;
}
#forecast-list .forecasts .forecast-prev.usd h1{
    background-color: #1e826e;
}

/* Прогноз детали
 -----------------------------------------------------------*/

/* Блок Читать также
 -----------------------------------------------------------*/
#main .related-articles-img {
    margin: 0px;
}
#main .related-articles-img p.p-header {
    font-size: 1.2em;
    text-transform: uppercase;    
    color: #ffffff;
    margin: 10px 0 10px 0;
    background-color: #374e74;
    padding: 10px;
}
#main .related-articles-img ul.related-articles-list {
    margin: 5px 0;
    list-style-type: none;
    padding: 0;
    position: relative; 
    overflow: hidden;
}
#main .related-articles-img ul.related-articles-list li{    
    padding: 0;
    float: left;
    position: relative; 
    width: 32%;
}
#main .related-articles-img ul.related-articles-list li.art-image-block-1,
#main .related-articles-img ul.related-articles-list li.art-image-block-2 {
    margin-left: 2%;
}
#main .related-articles-img ul.related-articles-list li img {
    width: 99%;
    border: 1px solid #374e74;
}
#main .related-articles-img ul.related-articles-list li a{
    color: #3d66ab;    
    text-decoration: underline;
    font-weight: 700; 
}
#main .related-articles-img ul.related-articles-list li a:hover {
    text-decoration: none;
}
#main .related-articles-img ul.related-articles-list li span{
    color: gray;
    padding-left: 5px;
}

/* Стили текстовых блоков
 -----------------------------------------------------------*/
.text-section {
    font-weight: 500;
    color: #465262;
    font-size: 1.2em;
    background-color: #dfe8f3;
    padding: 3px 5px 5px 5px;
}
.text-explain {
    color: #b1815e;
}
.text-footnote {
    color: #000000;
    background-color: #e3eec2;
    padding: 2px 4px;
}
.text-warning {
    color: maroon;
    background-color: #ffe2ca;
    border-bottom: 1px solid maroon;
    border-top: 1px solid maroon;
    padding: 5px;
    font-size: 1.1em;
}
.article-author {
    text-align: right;
    font-style: italic;
}
.article-author span{
    /*font-weight: bold;*/
    font-size: 1.2em;
}

/* Форма обратной связи
-----------------------------------------------------------*/
#feedback, #rules {
    padding: 10px 20px 0px 20px;
    position: relative;    
    overflow: hidden;
}
#feedback h1, #rules h1{
     background-color: #374e74;
    color: #ffffff;
    margin: 0 0 10px 0;
    padding: 10px;    
    text-transform: uppercase;
}
#feedback h1 span, #rules h1 span {
    background: white;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
#feedback h2, #rules h2 {
    color: #3c4249;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0 10px 0 5px;
    font-style: italic;
    text-align: left;
}

#form-feedback label {
    color: #75818f;
}
#form-feedback #Name,
#form-feedback #Email
{
    padding: 5px;
    color: #3c4249;
    width: 300px;
}
#form-feedback #Message{
    padding: 5px;
    color: #3c4249;
    width: 620px;
    height: 100px;
}
#form-feedback #Subject {
    padding: 5px;
    color: #39397b;    
    width: 315px;
}
#form-feedback #CaptchaCode
{
    padding: 5px;
    color: #3c4249;
    width: 88px;
}
#form-feedback .editor-field-submit {
    padding-top: 10px;    
}
#form-feedback input[type=submit] {
    padding: 5px 10px;
    cursor: pointer;
}

/* Постраничная навигация
-----------------------------------------------------------*/
.page-nav {    
    clear: both;
    padding: 3px 3px 10px 3px;
    margin-top: 10px;
    text-align: center;
}

.page-nav a {    
    color: #628ac9;
    margin: 4px;
    font-size: 1.3em;
}
.page-nav a.selected {    
    background-color: #00adee;
    padding: 5px 10px 7px 10px;
    color: white;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.page-nav .page-nav-total {    
    color: #628ac9;
    margin-right: 20px;
    font-size: 1.2em;
}
.page-nav a img {
    margin-bottom: -5px;
}

/* Поделиться в социальных сетях
-----------------------------------------------------------*/
.share-in-socials {
    text-align: right;
}
.share-in-socials span {
    padding-bottom: 5px;
}

/* Footer
-----------------------------------------------------------*/
#footer {
    position: relative;
    width: 100%;    
    background-color: #0d1823;
    overflow: hidden;
    margin-top: 10px;
    border-top: 2px solid #dbe5f1;
}
#footer-wrapper {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    /*height: 300px;*/
}
#footer-top {
    position: absolute;
    top: -10px;
    left: 15px;    
    background: url(/Content/system/bg_footer.png) top left no-repeat;
    width: 99px;
    height: 58px;
    z-index: 3;
}

/* Меню в footer
-----------------------------------------------------------*/
#footer-menu {
    width: 60%;
    position: relative;
    float: left;
    padding: 0;
    overflow: hidden;
}
#footer-menu .footer-menu-column{
    width: 33%;
    float: left;
}
#footer-menu .footer-menu-column p.header{
    color: #ffffff;
    text-transform: uppercase;
}
#footer-menu p.menu-items a{
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}

/* Реклама + CopyRight
-----------------------------------------------------------*/
#copyright .order-advertising{
    display: block;
    background-color: #00adee;
    border: none;
    color: white;
    font-size: 1.1em;
    padding: 15px 5px;
    text-transform: uppercase;    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#copyright {
    width: 20%;
    position: relative;
    float: left;    
    /*border-left: 1px solid #dbe5f1;*/
    /*height: 300px;*/
    /*padding: 10px 1% 50px 1%;*/
    /*background: url(/Content/system/left_column_bottom_bg.png) bottom left repeat-x;*/
    /*background-color: #fbfbfb;*/
    color: #ffffff;
}
#copyright p.header {
    color: #ffffff;
    text-transform: uppercase;
}

/* Социальные сети
-----------------------------------------------------------*/
#footer-socials  {
    position: relative;
    width: 20%;        
    overflow: hidden;
    margin: 0;
    float: left;
}
#footer-socials p {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
#footer-socials p a {
    background-image: url(/Content/system/socials.png);    
    width: 34px;
    height: 34px;
    position: relative;
    margin-left: 0.08em;
    border-bottom: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#footer-socials .socials_vk {
    background-position: -68px -174px;
}
#footer-socials .socials_fb {
    background-position: -228px 0px;
}
#footer-socials .socials_ok {
    background-position: -170px -174px;
}
#footer-socials .socials_g {
    background-position: -34px -174px;
}