@{
    ViewBag.metaTitle = "Ошибка 500";
    ViewBag.metaDescription = "Ошибка 500";
    ViewBag.metaKeywords = "";
    ViewBag.metaRobots = "noindex, nofollow";

    Layout = "~/Views/Shared/Master.cshtml";    
}
<section id="error-500" class="text-content">
    <hgroup>
        <h1>
            Что-то сломалось:(
        </h1>
        <h2>
            Произошла ошибка при обработке вашего запроса.
        </h2>
     </hgroup>
     <p>Наши специалисты уже в курсе данной ошибки и в кратчайшие сроки исправят ее.</p>
     <p>Приносим свои извенения за временные неудобства.</p>
     <p><a title="Вернуться на главную" href="/">Вернуться на главную</a></p>
</section>

