@{
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.metaTitle = "Регистрация";
    ViewBag.metaRobots = "noindex,nofollow";
    ViewBag.metaDescription = "";
    ViewBag.metaKeywords = "";
}
@section left_top
{
    @Html.Action("_getModuleOrgMenu", "Home", new { cur_id = -1 })
}
@section left_middle
{
    @Html.Action("_getModuleLastComments", "Home", new { show_article_link = true })
}
@section right_middle
{
    @Html.Action("_getModuleLastNews", "Home")
}
<section id="change-password">
    <hgroup>
        <h1>
            <span>Изменение пароля</span>
        </h1>        
    </hgroup>
    <div id="change-password-block">
        <p>Пароль успешно изменен.</p>        
    </div>
</section>
