@{
    ViewBag.metaTitle = "Банки. Курсы валют на сегодня. ProBanki.net";
    ViewBag.metaDescription = "";
    ViewBag.metaKeywords = "";
    ViewBag.metaRobots = "noindex, nofollow";

    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.CurrentMenuItem = "rules";
}
@{
    List<SelectListItem> _items = new List<SelectListItem>();
    _items.Add(new SelectListItem()
    {
        Text = "Общие вопросы",
        Value = "question",
        Selected = true
    });
    _items.Add(new SelectListItem()
    {
        Text = "Техническая поддержка",
        Value = "support",
        Selected = false
    });
    _items.Add(new SelectListItem()
    {
        Text = "По вопросам  рекламы",
        Value = "marketing",
        Selected = false
    });
}
@section left_top
{
    @Html.Action("_getModuleOrgMenu", "Home")
}
@section left_middle
{
    @Html.Action("_getModuleLastComments", "Home", new { show_article_link = true })
}
@section right_middle
{
    @Html.Action("_getModuleLastNews", "Home")
}
<section id="rules">
    <hgroup>
        <h1>
            <span>Вас приветствует портал probanki.net</span>
        </h1>    
        <h2>Правила сайта ProBanki.net:</h2>
    </hgroup>
    <p>Все пользователи и посетители Сайта используют Сайт на свой риск и под собственную ответственность и любым действием пользования Сайта подтверждают согласие с нижеследующими правилами использования Сайта.</p>
<p class="text-warning">В случае несогласия с правилами пользования Сайта, не посещайте и не пользуйтесь услугами Сайта!</p>
<p class="text-section">Общая правовая информация</p>
<p>Действие правил пользования этим сайтом распространяется как на физических, так и на юридических лиц. Владелец оставляет за собой право изменять предоставляемые данные и услуги в любое время без предварительного уведомления. Ссылка на продукцию и услуги третьих лиц делается в информационных целях и не подразумевает, что Владелец их поддерживает или рекомендует. Представленная на сайте информация, касающаяся стоимости товара и услуг, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями <span class="text-footnote">(ст.ст. 783 и 708 ГК РФ)</span>.</p>
<p class="text-section">Защита авторских прав</p>
<p>Все права на информацию, размещенную на данном сайте, принадлежат Владельцу. В случае нарушения правил пользования этим сайтом владелец оставляет за собой право применить к нарушителям все допустимые законом меры пресечения и защиты своих нарушенных прав <span class="text-footnote">(п. 1 ст. 150 ГК РФ)</span> На других страницах этого сайта могут содержаться другие замечания о правах собственности и информация об авторских правах; содержащиеся в них положения также должны быть учтены и соблюдены.</p>
<p class="text-section">Правила размещения и копирования материалов сайта</p>
<p>Мы категорически против перепечатки любых материалов, размещённых на сайте probanki.net. Авторские права на материалы, опубликованные на нашем сайте, принадлежат либо проекту probanki.net, либо другим авторам или изданиям. Любые материалы, авторские права на которые принадлежат проекту probanki.net разрешено цитировать <span class="text-explain">(не более трети материала)</span> и переводить на другие языки в сети Интернет при одном условии - указания активной гиперссылки на probanki.net. Полное заимствование материалов является нарушением российского и международного законодательства и возможно только с нашего согласия. Мы разрешаем публиковать наши единичные материалы в оффлайн-изданиях, в том числе на других языках, при обязательном наличии ссылки на наш сайт как на источник. Воспроизведение <span class="text-explain">(копирование)</span> целиком рубрик, разделов, а также создание копий <span class="text-explain">(зеркал)</span> сайта категорически запрещено <span class="text-footnote">(ст. 1270 ГК РФ)</span>.</p>
<p class="text-section">Освобождение от ответственности</p>
<p>В той степени, в которой это позволено законодательством, Владелец сайта и связанные с ними компании, руководители, сотрудники, доверенные лица не несут ответственность за любой ущерб, вытекающий прямо или косвенно из использования данного сайта или какого-либо другого сайта, связанного с данным сайтом. Ни при каких обстоятельствах ответственность за последствия, которые прямо или косвенно повлекло за собой использование информации, размещенной на этом Сайте, не может возлагаться на Владельца Сайта и быть основанием для их судебного преследования <span class="text-footnote">(п. 3 ст. 401, п. 2 ст. 476, ч. 2 и. 1 ст. 901, п. 1 ст. 1079, ч. 2 п. 2ст. 1083, ст. 1098 ГК РФ, и. 4ст. 13, п.4 и 5ст. 14, п. 5)</span>. Владелец сайта не заявляет и не гарантирует, что какой-либо файл, которые можно загрузить с данного сайта и / или использовать с его помощью, свободных от ошибок, вирусов, дефектов и других факторов, которые могут нанести ущерб данным, а также аппаратному или программному обеспечению пользователя. Вся информация, представленная на сайте, идет под знаком "как есть" <span class="text-explain">("as is")</span> с возможными ошибками, без гарантий любого вида, прямо выраженных или подразумеваемых.</p>
<p class="text-section">Точность информации</p>
<p>Владелец будет прилагать все усилия, чтобы обеспечить точность и актуальность данных, содержащихся на этом сайте. В представленной на этом сайте информации могут встретиться технические неточности или типографские опечатки. Владелец не берет на себя никакой ответственности за точность информации, предоставляемой на сайте, и весь риск использования такой информации возлагается на пользователя. Сайт также содержит данные, полученные из источников новостных агентств согласно правилам оговоренных ими для использования новостей, и Оператор не несет ответственности за несоответствие действительности, искажение, недостоверную информацию, а также при нанесении урона посетителям Сайта в случае такового.</p>
<p class="text-section">Ссылки на сайты третьих лиц</p>
<p>Данный сайт может содержать информацию о сайтах третьих лиц. Переход на любой другой Интернет-ресурс, связанный с данным сайтом, осуществляется на страх и риск пользователя. Владелец не несет ответственности за точность информации, данных, взглядов, советов или заявлений, сделанных на этих сайтах. Ссылка на продукцию и услуги третьих лиц делается в информационных целях и не подразумевает, что Владелец их поддерживает или рекомендует или несет за это ответственность.</p>
<p class="text-section">Изменение условий</p>
<p>Владелец сайта может время от времени вносить изменения в вышеуказанные правила пользования сайтом. Просматривая данный сайт, Вы принимаете обязательство соблюдать эти правила, поэтому Вы должны проверять их при каждом новом посещении сайта.</p>
<p>Все предложения, замечания и отзывы по работе сервиса следует отправлять на info@probanki.net</p>
<p>Используя любым способом сервис, Вы принимаете условия настоящего документа. Если Вы не принимаете условий настоящего документа, Вам следует немедленно отказаться от использования сервиса.</p>


</section>