@model string
<section class="forecast-menu">
    <h3>Клуб</h3>
    <nav>
        <ul>
            @if(Model.Equals("about"))
            {
                <li class = "current">@Html.RouteLink("О клубе", "", null, new { title = "О клубе" })</li>
            }
            else
            {
                <li>@Html.RouteLink("О клубе", "", null, new { title = "О клубе" })</li>
            }
        </ul>
    </nav>
</section>
